@import 'https://fonts.googleapis.com/css?family=Lato:300';

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #102F6F;

}

.container {
  text-align: center;
  top: 0;
  margin-top: 0;
}

.sign {
  display: block;
  float: left;
  width: 28%;
  height: 333px;
  background-image: url(/home/deepibox/www/zodiac/assets/zodiac.png);
  background-repeat: no-repeat;
}

.sign.aries {
  background-position: -30px 0;
}

.sign.taurus {
  background-position: -260px 0;
}

.sign.gemini {
  background-position: -520px 0;
}

.sign.cancer {
  background-position: -760px 0;
}

.sign.leo {
  background-position: -30px -333px;
}

.sign.virgo {
  background-position: -260px -333px;
}

.sign.libra {
  background-position: -520px -333px;
}

.sign.scorpio {
  background-position: -760px -333px;
}

.sign.sagittarius {
  background-position: -30px -666px;
}

.sign.capricorn {
  background-position: -260px -666px;
}

.sign.aquarius {
  background-position: -520px -666px;
}

.sign.pisces {
  background-position: -760px -666px;
}

.today {
  clear: both;
  margin: calc(100vh - 750px) auto 0 auto;
  height: 500px;
  width: 80%;
  background-color: #fff;
}

.today p {
  color: #000000;
  text-align: left;
  display: block;
  width: 70%;
  height: 500px;
  float: left;
  font-size: 30px;
  text-align: left;
}